header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px;
}

#headerLogo {
    width: 75px;
    height: 80px;
    margin: 12.5px;
}

#header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 1em;
    
}

a#active {
    text-decoration: none;
    color: #735319;
    font-weight: bolder;
    cursor: default;
}

a.inactive {
    text-decoration: none;
    color: #216016;
    /* font-weight: bolder; */
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;

    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-top: auto;
}

footer .footerLink {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
