body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 0.5rem;
}
.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}
.login {
    font-size: 1.125rem;
    font-weight: 600;
}
.article {
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
}

.article h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content {
    display: block;
}

.content .text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}
.comments {
    color: #4a4a4a;
    padding-top: 0.5rem;
}
footer {
    background-color: #e2e2e2;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .content {
        display: flex;
        justify-content: space-between;
    }
    .content .text {
        width: 48%;
    }
    .image {
        width: 48%;
    }
}